name: stgen_test
description: "A project for the Stgen company test"

version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:  
  flutter:
    sdk: flutter    
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.5.1    
  uuid: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/menu_items.json

